{
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "semi": true,
    "endOfLine": "lf",
    "tabWidth": 2,
    "trailingComma": "es5",
    "arrowParens": "always"
}